@keyframes cloud {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(10px) translateY(-10px);
  }
  50% {
    transform: translateX(-10px) translateY(10px);
  }

  100% {
    transform: translateX(10px) translateY(-10px);
  }
}

.item-video video {
  object-fit: cover;
}

.homepage_heading {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 131.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-select svg {
  display: none !important;
}
