@keyframes keyArrow {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.alldestinations .arrowfr {
  animation: keyArrow 1.5s ease-in-out infinite;
}

@keyframes slide-background {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}

.animated-button {
  animation: slide-background 3s linear infinite;
}

@keyframes keyArrow {
  0% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-3px);
  }
}

.arrowfr {
  animation: keyArrow 1s ease-in-out infinite;
}

.tour_infor ul {
  padding-left: 1.6rem;
  width: 19rem;
}

.tour_infor ul li {
  color: white;
  line-height: 150%;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  list-style-type: disc;
}

@media (max-width: 767px) {
  .tour_infor ul li {
    color: #262626;
  }
}

.event-none {
  pointer-events: none !important;
}

.flip-horizontal {
  direction: rtl;
}

.no-flip {
  filter: none;
  /* Reset filter */
}

.sticky-class {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  /* background-color: yellow; */
  /* padding: 50px; */
  /* font-size: 20px; */
}
.scrollbar-popup-tour-detail::-webkit-scrollbar {
  width: 0.1875rem;
  height: 1rem;
}

.scrollbar-popup-tour-detail::-webkit-scrollbar-thumb {
  background-color: #23704d !important;
}

.detail_sched img {
  max-width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
