@keyframes scaleInOut {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.activity .circle {
  animation: scaleInOut 1.5s ease-in-out infinite;
}
.activity .text-linear {
background: linear-gradient(180deg, #FFF 28.31%, rgba(255, 255, 255, 0.00) 86.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
.activity .text-linear1 {
background: linear-gradient(180deg, #FFF 28.31%, rgba(255, 255, 255, 0.00) 97.67%);
background-clip: text;
-webkit-background-clip: text;
}
.activity .text-linear {
background: linear-gradient(180deg, #FFF 28.31%, rgba(255, 255, 255, 0.00) 98.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
}
.activity .text-linear1 {
background: linear-gradient(180deg, #FFF 28.31%, rgba(255, 255, 255, 0.00) 97.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@keyframes keyArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.activity.arrowfr {
  animation: keyArrow 1.5s ease-in-out infinite;
}
.activity .mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.activity.shadow-right {
  box-shadow: 20px 0 30px -10px rgba(0, 0, 0, 0.25),
    8px 0 15px -5px rgba(0, 0, 0, 0.2);
}
.activity.shadow-no {
  box-shadow: 0px 0 0px px white, 0px 0 0px 0px white;
}



.scrollbar-dichvu::-webkit-scrollbar {
  width: 0.1875rem;
  height: 1rem;
}


.scrollbar-dichvu::-webkit-scrollbar-thumb {
  background-color: #19543a !important;
}
