@keyframes keyArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
 .arrowfr {
  animation: keyArrow 1.5s ease-in-out infinite;
}
@keyframes slide-background {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.animated-button {
  animation: slide-background 3s linear infinite;
}

/* @keyframes keyArrow {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-3px);
  }
}
.arrowfr {
  animation: keyArrow 1s ease-in-out infinite;
} */
