@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 36% 79%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 36% 79%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .bd {
    @apply border border-black;
  }
  .container {
    @apply w-[90rem] mx-auto xmd:w-full xmd:px-[1rem];
  }
  .subContainer {
    @apply w-[90rem] mx-auto xmd:w-full;
  }
  h1 {
    @apply text-[6rem] leading-[1];
  }
  h2 {
    @apply text-[3.5rem] font-black leading-[1] font-londrina;
  }
  .text-75 {
    @apply text-[7.5rem] leading-[1];
  }
  .text-35 {
    @apply text-[3.5rem] leading-[1];
  }
  .text-3 {
    @apply text-[3rem] leading-[1.2];
  }
  .text-275 {
    @apply text-[2.75rem] leading-[1.2];
  }
  .text-25 {
    @apply text-[2.5rem] leading-[1];
  }
  .text-2 {
    @apply text-[2rem] leading-[1];
  }
  .text-175 {
    @apply text-[1.75rem] leading-[1.2];
  }
  .text-15 {
    @apply text-[1.5rem] leading-[1.2];
  }
  .text-125 {
    @apply text-[1.25rem] leading-[1.2];
  }
  .text-1125 {
    @apply text-[1.125rem] leading-[1];
  }
  .text-1 {
    @apply text-[1rem] leading-normal;
  }
  .text-0875 {
    @apply text-[0.875rem] leading-[1.2];
  }
  .text-075 {
    @apply text-[0.75rem] leading-[1.2];
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  font-size: 1vw;
  scroll-behavior: smooth;
}
@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  --radix-navigation-menu-viewport-width: 100%;
}

@media (max-width: 767px) {
  html {
    font-size: 4.267vw;
  }
  body {
    overflow-x: hidden !important;
    --removed-body-scroll-bar-size: 0px !important;
  }
  html body {
    margin-right: 0 !important;
  }
}

@media (max-width: 1023px) {
  .hidden-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  .hidden-scrollbar::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    display: none;
  }
}

.input-hidden {
  border: none !important;
  outline: none !important;
}

.input-hidden:focus {
  border: none !important;
  outline: none !important;
}

.input-hidden::-webkit-outer-spin-button,
.input-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.HoverCardContent[data-side='left'] {
  transform: translateX(25%);
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
.activity .text-linear {
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 6.25rem */
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    #fff 37.06%,
    rgba(255, 255, 255, 0) 107.22%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.activity .text-linear2 {
  font-family: 'Trip Sans';
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 6.25rem */
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    #fff 30.31%,
    rgba(255, 255, 255, 0) 87.67%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#swiper_discover .swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes scaleInOut {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.circle {
  animation: scaleInOut 1.5s ease-in-out infinite;
}

.activity .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.activity .mySwiper.swiper-slide {
  opacity: 0.2;
}