@keyframes keyArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.arrowfr {
  animation: keyArrow 1.5s ease-in-out infinite;
}
@keyframes slide-background {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.animated-button {
  animation: slide-background 3s linear infinite;
}
.bg-card {
  background: rgba(255, 255, 255, 0.15);

  -webkit-backdrop-filter: blur(12.792327880859375px);
  backdrop-filter: blur(12.792327880859375px);
}
/* @keyframes keyArrow {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-3px);
  }
}
.arrowfr {
  animation: keyArrow 1s ease-in-out infinite;
} */
