.answer-container::-webkit-scrollbar {
  width: 0.25rem;
}
.answer-container::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #ebebeb;
}
.answer-container::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 9999px;
}
