@keyframes rotateForever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.blog-detail .circular-infinity {
  animation: rotateForever 8s linear infinite;
}
.detail h2 {
  color: var(--greyscaletext-80-main, #262626);
  font-family: var(--font-trip-sans);
  margin-bottom: 1.87rem !important;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.4rem */
}
@media (max-width: 767px) {
  .detail h2 {
      font-family: var(--font-trip-sans);
    width: 21.4375rem;
    height: fit-content;
    margin-bottom: 0.5rem !important;
    color: var(--greyscaletext-80-main, #262626);
    /* APP/H6/18-M */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}
.detail .paragraph {
  align-self: stretch;

  color: var(--greyscaletext-80-main, #262626);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
}
@media (max-width: 767px) {
  .detail .paragraph {
    width: 21.4375rem;
    height: fit-content;
    font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.3125rem */
letter-spacing: 0.00219rem;
  }
}
.detail img {
  width: 100%;
  height: 37.5rem;
  border-radius: 0.75rem;
  object-fit: cover;
}
@media (max-width: 767px) {
  .detail img {
    width: 21.4375rem;
    height: fit-content;
  }
}
/* 
  .hidden {
    opacity: 0;
    transform: translateY(50%);
  }

  .visible {
    animation: jumpUp 1s ease-out forwards;
  }

  @keyframes jumpUp {
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  } */


  .box {
  width: 100%;
  height: 40rem;
  transition: height 1s ease-out;
}

.box.shrink {
  height: 36.5rem;
}
@media (max-width: 768px) {
  .box {
    height: 26rem; /* hoặc kích thước khác nếu cần */
  }

  .box.shrink {
  height: 23.5rem;
}
}